* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*ヘッダー*/

header {
  background-color: #EC715F;
  height: 70px;
}

.menu-bar {
  display: flex;
  justify-content: space-between;
  max-width: 1024px;
  margin: 0 auto;
}

.logo {
  height: 70px;
}

.nav {
  display: flex;
}

.nav-list {
  list-style: none;
  line-height: 70px;
  padding: 0 30px;
  font-size: 16px;
}

.nav-list a {
  text-decoration: none;
  color: #FAFAFA;
}

/*メイン共通*/

.container {
  margin: 0 auto;
  width: 1024px;
  text-align: center;
}

h2 {
  padding-top: 90px;
  margin-bottom: 8px;
  font-size: 32px;
  color: #000000;
}

h2:after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin: 8px auto 0;
  background-color: #EC715F;
}

.heading-txt {
  padding-top: 30px;
  text-align: center;
  font-size: 16px;
}

/*メインビジュアル*/

#main-visual {
  width: 100%;
  height: 650px;
  text-align: center;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
}

.main-visual {
  height: 650px;
  width: 100%;
}

h1 {
  padding-top: 200px;
  font-size: 64px;
  color: #FAFAFA;
}

#main-visual p {
  padding-top: 10px;
  font-size: 20px;
  color: #FAFAFA;
}

/*ポートフォリオ*/

#portfolio {
  background-color: #ECEFF1;
}

.img-box {
  width: 920px;
  display: flex;
  flex-flow:row wrap;
  margin: 0px auto;
  padding: 30px 0 90px;
}

.img {
  width: 300px;
  height: 250px;
  margin: 10px 10px 0 0;
  background-size: cover;
  background-position: center;
}

.img:nth-child(-n+3) {
  margin-top: 0;
}

.img:nth-child(3n) {
  margin-right: 0;
}

.bg-1 {
  background-image: url(img/sketch.jpg);
}

.bg-2 {
  background-image: url(img/websuku.png);
}

.bg-3 {
  background-image: url(img/write.jpg);
}

.bg-4 {
  background-image: url(img/webcamp.png);
}

.bg-5 {
  background-image: url(img/talk.jpg);
}

.bg-6 {
  background-image: url(img/webcamp-mother.png);
}

/*フィーチャー*/

.feature-container {
  display: flex;
  width: 980px;
  margin: 0 auto;
  padding: 30px 0 90px;
}

.feature-content {
  width: 320px;
  margin-right: 10px;
}

.feature-icon {
  font-size: 60px;
  text-align: center;
}

.feature-h3 {
  font-size: 20px;
  padding: 10px 0;
}

.feature-content p {
  text-align: left;
  font-size: 16px;
}

/*プロファイル*/

#profile {
  background-color: #ECEFF1;
  padding-bottom: 90px;
}

.profile-content {
  width: 1024px;
  display: flex;
  margin: 30px auto 0;
}

.profile-left,.profile-right {
  width: 50%;
}

.my-icon {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 50%;
  background-image: url(img/my-icon.jpg);
}

.profile-right {
  text-align: left;
}

.profile-heading {
  font-size: 20px;
}

.profile-right p {
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.profile-right p:last-child {
  margin-bottom: 0;
}

/*コンタクト*/

#contact {
  padding-bottom: 90px;
}

.contact-container {
  width: 800px;
  margin: 0 auto;
  padding-top: 30px;
  display: flex;
  text-align: center;
}

.contact-left, .contact-right {
  width: 50%;
}

.contact-right-content,.contact-left-content {
  width: 200px;
  margin: 0 auto;
}

.contact-heading {
  margin-bottom: 5px;
}

.contact-heading:nth-child(3) {
  margin-top: 20px;
}

.sns-icon {
  font-size: 50px;
  margin-right: 20px;
}

/*フッター*/

footer {
  background-color: #EC715F;
  height: 60px;
  color: #FAFAFA;
  text-align: center;
  line-height: 60px;
}

/*レスポンシブ*/

@media screen and (max-width: 767px) {
  .container {
    width: 90%;
  }

  header {
    height: 50px;
  }

  .logo {
    height: 50px
  }
  .menu-bar {
    width: 90%;
  }

  .menu-box {
    width: 40px;
    height: 40px;
    border: 1px solid #FAFAFA;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
  }

  .box-bar {
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px auto;
    background-color: #FAFAFA;
  }

  .box-bar:first-child {
    margin-top: 10px;
  }

  .nav-list {
    display: none;
  }

  #main-visual {
    background-image: url(img/code.png);
  }

  h1 {
    font-size: 40px;
  }

  .img-box {
    width: 300px;
  }

  .img {
    margin-right: 0;
  }

  .no-img {
    display: none;
  }

  .feature-container {
    width: 320px;
    flex-flow:row wrap;
  }

  .profile-content {
    flex-flow:row wrap;
    width: 100%;
  }

  .profile-left {
    margin-bottom: 20px;
    width: 100%;
  }

  .profile-right {
    width: 100%;
    text-align: center;
  }

  .contact-container {
    flex-flow: row wrap;
    width: 100%;
  }

  .contact-left, .contact-right {
    width: 100%;
  }

  .contact-left-content, .contact-right-content {
    width: 100%;
  }

  .contact-right-content {
    margin-top: 20px;
  }
}